<!DOCTYPE html>
<html>
	<head>
		<title>Earlz.Net -- Internal login</title>
	</head>
	<body>
	<p> Whatever you tried to do requires authentication! If you tried to access the private-draft tag, just hit the back button in your browser </p>
	<p>
		Don't waste your time trying to hack it. Worst case is you make me fix a bug in FSCAuth and I restore the site from the automated backups.
	</p>
	<form method="post" action="/login">
		Username: <input type="text" name="Username" /> <br />
		Password: <input type="password" name="Password" /> <br />
		<input type="submit" name="Submit" />
	</form>
	</body>
</html>
